<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Products</h3>
      </div>
      <div class="col-sm-6">
        <ol (click)='navigateToCreateProducts()' class="breadcrumb float-sm-end">
          <button class="breadcrumb-item active, btn btn-info"><a >Add Product</a></button>
        </ol>
      </div>
    </div>
    <!--Confirm dialogue-->
    <app-confirm-dialogue *ngIf="showConfirmDialogue"
      [title]="'Delete Product'"
      [message]="'Are you sure you want to delete this product?'"
      [isVisible]="showConfirmDialogue"
      (confirm)="handleDialogResponse($event)">
    </app-confirm-dialogue>
    <!--end Confirm dialogue-->
  </div>
</div>
<div class="app-content">
</div>
<div class="col-md-12">
  <div class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">Products</h3>
      <div class="card-tools">
        <!-- Pagination -->
        <ul class="pagination pagination-sm float-end">
          <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <!-- Responsive Table -->
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Price (€)</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let product of products">
            <td (click)="navigateToProductDetails(product.id)">{{ product.name }}</td>
            <td> {{product.size}} </td>
            <td product.price = parseFloat(product.price.toFixed(2))>{{ product.price | number:'1.2-2' }}</td>
            <td>{{ product.numberOfProducts }}</td>
            <td>
              <!-- Edit Icon -->
              <span role="button" (click)="navigateToEditProduct(product.id)" title="Edit">
                <i class="bi bi-pencil-square"></i>
              </span>

              <!-- Delete Icon -->
              <span role="button" title="Delete">
                <i (click)="openConfirmDialogue(product.id)" class="bi bi-trash"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
