.chat-box {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
}

.seller-msg {
  background-color: rgba(23, 162, 184, 0.3);
  align-self: flex-end;
  text-align: right;
}

.customer-msg {
  background-color: rgba(23, 162, 184, 0.1);
  align-self: flex-start;
}

.timestamp {
  font-size: 12px;
  font-style: italic;
  color: gray;
  margin-top: 5px;
  text-align: right;
}
