<div class="card card-info card-outline mb-4">
  <h1>Chat</h1>

  <!-- Chat Messages Display -->
  <div id="messages" class="p-3">
    <div *ngFor="let msg of messages" class="d-flex mb-2">
      <div class="alert" [ngClass]="{'alert-info align-self-end text-end': msg.sender === currentUser,
                    'alert-secondary align-self-start': msg.sender !== currentUser}">
        <strong>{{ msg.sender }}:</strong> {{ msg.content }}
      </div>
    </div>
  </div>

  <!-- Message Input -->
  <form (submit)="sendMessage()">
    <div class="d-flex">
      <input type="text" [(ngModel)]="message.content" name="content" class="form-control mb-2"
        placeholder="Enter your message">
      <button type="submit" class="btn btn-info ml-2">Send</button>
    </div>
  </form>
</div>
