<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header">
      <a href="../index2.html" class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
        <h1 class="mb-0">ReStore<b>It</b></h1>
      </a>
    </div>
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in</p>
      <form (ngSubmit)="validateLogin(loginCredentials)">

        <div class="input-group mb-1">
          <div class="form-floating">
            <input id="loginEmail" type="email" class="form-control" name="email" placeholder="example@gmail.com" [(ngModel)]="loginCredentials.email" />
            <label for="loginEmail">Email</label>
          </div>
          <div class="input-group-text"><span class="bi bi-envelope"></span></div>
        </div>

        <div class="input-group mb-1">
          <div class="form-floating">
            <input id="loginPassword" type="password" class="form-control" name="password" [(ngModel)]="loginCredentials.password" />
            <label for="loginPassword">Password</label>
          </div>
          <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
        </div>

        <!--begin::Row-->
        <div class="row">
          <div class="col-8 d-inline-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault"> Remember Me </label>
            </div>
          </div>
        </div>
        <!--end::Row-->

        <div class="social-auth-links text-center mb-3 d-grid gap-2">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>

      </form>

      <p class="mb-1"><a href="#">I forgot my password</a></p> <!--This is here for style-->
      <p class="mb-0">
        Don't have an account? <a role="button" (click)="navigateToRegistration()" class="text-center"> Sign up </a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
