<div class="login-box">
  <div class="card card-outline card-primary">

    <div class="card-header">
      <a role="button" class="link-dark text-center">
        <h1 class="mb-0">Find Your Order</h1>
      </a>
    </div>

    <div class="card-body login-card-body">

      <!-- Find Order Section -->
      <div *ngIf="!orderFound && !emailConfirmed">
        <p class="login-box-msg">Enter your Order ID</p>
        <form (ngSubmit)="getOrderById()">
          <div class="input-group mb-1">
            <input type="text" class="form-control" [(ngModel)]="orderId" name="orderId" placeholder="Enter Order ID" />
            <button type="submit" class="btn btn-info">Find Order</button>
          </div>
        </form>
      </div>

      <!-- Email Confirmation Section -->
      <div *ngIf="orderFound && !emailConfirmed">
        <p class="login-box-msg">Confirm your email</p>
        <form (ngSubmit)="getChatsByEmailAndOrder()">
          <div class="input-group mb-1">
            <input type="email" class="form-control" [(ngModel)]="customerEmail" name="customerEmail"
              placeholder="example@gmail.com" />
            <button type="submit" class="btn btn-info">Confirm Email</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div *ngIf="emailConfirmed" style="margin: 20px;" class="card card-info card-outline mb-4 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title"><strong>Your Conversations</strong></div>
  </div>

  <div class="card-body">
    <div *ngIf="chats.length">
      <ul class="list-group">
        <li *ngFor="let chat of chats" class="list-group-item">
          <strong>Order ID: {{ chat.order.id }}</strong> - <small>{{ chat.sellerName }} </small>
          <a (click)="navigateToChatRoom(chat.id)" class="btn btn-info btn-sm float-right">Open Chat</a>
        </li>
      </ul>
    </div>
    <div *ngIf="chats.length === 0">
      <p class="text-muted">No active chats found.</p>
    </div>
  </div>
</div>
