<!--
<div class="card card-info card-outline mb-4 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title"><strong>Track Your Order</strong></div>
    <input type="text" class="form-control form-control-sm" placeholder="Enter Order ID" [(ngModel)]="orderId">
    <button class="btn btn-primary btn-sm" (click)="getOrderById()">Find Order</button>
  </div>

  <div class="card-body h-90 d-flex flex-column justify-content-between">
    <div *ngIf="chatRoomId">
      <p>Chat Found for Order: {{ orderId }}</p>
      <a [routerLink]="'/chat/' + chatRoomId" class="btn btn-success btn-sm">Access Chat</a>
    </div>
    <div *ngIf="!chatRoomId && searched">
      <p class="text-danger">Order not found. Please try again.</p>
    </div>
  </div>
</div>
-->
